/* navbar */
.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 1.1em;
}

.navbar { 
background: white;
}
.navbar .navbar-nav .nav-link:hover{
  color: #808080;
  
}
@media only screen and (min-width: 960px) {
.navbar .navbar-nav .nav-item .nav-link {
  padding: 0 0.5em;
}
.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
  border-right: 2px solid #000000;
}
}

#bistroName {
color: black;
text-decoration: none;
font-size: 2em;
}

#bistroName:hover {
color: #808080;
}



.carousel .carousel-item {
max-height:550px;
}

.carousel-item img {
object-fit:cover;
max-height:550px;
}

#orderButton {
margin-top: 50px;
margin-bottom: 50px;
}

body {
background-color: white;
}

#comeJoinUs {
background-color: rgb(225, 243, 243);
}

select:hover, textarea:hover, input:hover {
background-color: rgb(185, 220, 223);
}


h2 {
  margin-top: 20px;
  margin-left: 20px;
}