/* navbar */
.navbar .navbar-nav .nav-link {
    color: #9F917D;
    font-size: 1.3em;
}

.navbar { 
  background: #1c1c1c;
  height: 7rem;
}
.navbar .navbar-nav .nav-link:hover{
  color: #808080;
  text-decoration: underline; 
}
@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 2px solid #9F917D;
  }
}

li a:focus {
  background-color: #4c483c;
}

#bistroName {
  color: #9F917D;
  text-decoration: none;
  font-size: 3em;
  font-family: 'Caudex', serif;
}

#bistroName:hover {
  color: #808080;
}


/* Body */
body {
  background-color: #E1DFD1;
}


.specialContent {
  font-family: 'Caudex', serif;
}


/* carousel */
.carousel .carousel-item {
  max-height:550px;
}

.carousel-item img {
  object-fit:cover;
  max-height:550px;
}

#orderButton {
  margin-top: 50px;
  margin-bottom: 50px;
}


/* Menu Page */
#menuCards .card {
  height: 9rem;
  margin-bottom: 1rem;
}

#menuCards .card-body {
  background-color: #a89f8c;
}

#menuCards .card-text {
  color: #302c24;
  
}

#menuCards h2 {
  font-family: 'Caudex', serif;
  font-weight: bold;
}

/* Oder Online */

#orderOnlineItems h2 {
  font-family: 'Caudex', serif;
  font-weight: bold;
}
#orderOnlineItems .card {
  margin: 1rem;
  border-radius: 20px;
  width: 19rem;
}

#orderOnlineItems .card-body {
  background-color: #a89f8c;
  border-radius: 0px 0px 20px 20px;
}


.itemText {
  text-align: left;
}

.itemCost {
  float: right;
}

.card-img-top {
  object-fit:fill;
  max-height: 12rem;
  border-radius: 20px 20px 0px 0px;
}



/* Footer */
#site-footer {
  background-color: black;
}


#comeJoinUs {
  background-color: rgb(140, 153, 140);
}
  
select:hover, textarea:hover, input:hover {
  background-color: rgb(188, 213, 224);
}
  
h2 {
  margin-top: 20px;
  margin-left: 20px;
}
  
#contactus {
  
  margin-left: 40px;
  margin-bottom: 20px;
}
  
#map {
  margin-bottom: 40px;

}
  
/* Set the size of the div element that contains the map */
iframe {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
  
  
button {
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 35%;
  margin-right: 15%;
  width: 50%;
  text-align: right;
}

#orderOnlineButton:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.5);
}

/* Oder Online */
#orderOnlineItems .card {
  margin: 1rem;
}

body {
  background-color: #E1DFD1;
}

footer {
  margin-top: 50px;
  padding: 3rem;;
  height: 15rem;
  background-color: #1c1c1c;
  color: #9F917D;
}



#orderOnlineButton {
  background-color: #a5c77b;
}

#orderOnlinebutton:hover{
  background-color: #7aa840;
}


.card{
  transition: box-shadow .3s;
  border: 1px black;
  border-radius:20px;

  
}
.card:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.5); 
}

.socialButton {
  background-color: #9F917D;
}
